/* Make container fill remaining viewport height */
.container {
    height: calc(100vh - 64px);
    /* subtract toolbar height (default 64px) */
}

.sidenav {
    width: 230px;
    background-color: #2C4673;
    color: white;
    margin-top: 2px;
}

.content {
    padding: 20px;
}