.login-form {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    padding-top: 10px;
    overflow: hidden !important;
}

.full-width {
    width: 100%;
    margin-bottom: 16px;
}

/* Title Styling */
h2[mat-dialog-title] {
    font-weight: bold;
    margin: .5rem;
    padding: .5rem;
    color: white;
    width: 100%;
    text-align: center;
    overflow: hidden !important;
}

/* Button Styling */
mat-dialog-actions {
    justify-content: space-between;
    padding-bottom: 20px;

}

button[mat-flat-button] {
    background-color: #2C4673;
    /* Match sidenav color */
    color: white;
    border-radius: 0px;

}

button[mat-button] {
    border-radius: 0px;
    /* Fixed border radius */
}


mat-dialog-content {
    overflow: hidden !important;
    max-height: none !important;
}

mat-dialog {
    overflow: hidden !important;
}

.login-dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1px;
    background-color: #2C4673;

}

.login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.login-container {
    position: relative;
}

.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}